@model IEnumerable<GeneralStoreMVC.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h2>List of Products</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
    </tr>
    <tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(model => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(model => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(model => item.FullName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CustomerId })
                @Html.ActionLink("More Information", "Details", new { id = item.CustomerId })
                @Html.ActionLink("Remove", "Delete", new { id = item.CustomerId })
            </td>
        </tr>
    }
    </table>